@font-face {
  font-family: 'LilitaOne';
  font-weight: 400;
  src: url('../assets/fonts/Lilita_One/LilitaOne-Regular.ttf');
}

@font-face {
  font-family: "Pusia Bold";
  src: url("../assets/fonts/Pusia_Bold/Pusia-Bold.ttf");
}